<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
<!--    <bean name="terminalRepository" class="org.example.repository.TerminalRepository"/>-->
<!--    <bean name="transactionRepository" class="org.example.repository.TransactionRepository" scope="prototype"/>-->
<!--    <bean name="cardRepository" class="org.example.repository.CardRepository"/>-->
<!--    <bean name="profileRepository" class="org.example.repository.ProfileRepository"/>-->
<!--    <bean name="authService" class="org.example.service.AuthService" autowire="constructor"/>-->

<!--    <bean name="profileService" class="org.example.service.ProfileService" autowire="byName"/>-->

<!--    <bean name="transactionService" class="org.example.service.TransactionService" autowire="byType"/>-->
<!--    <bean name="cardService" class="org.example.service.CardService" autowire="byType"/>-->
<!--    <bean name="terminalService" class="org.example.service.TerminalService" autowire="byType"/>-->


<!--    <bean name="authController" class="org.example.controller.AuthController" autowire="constructor" scope="singleton"/>-->
<!--    <bean name="adminController" class="org.example.controller.AdminController" autowire="byName"/>-->
    <bean name="profileController" class="org.example.controller.ProfileController" autowire="byName"/>
    <context:component-scan base-package="org.example"/>
</beans>